{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    h2, p {
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
    }
</style>



<div class="d-flex gap-3 vh-100">
  <!-- Sidebar -->
    <div class="col-md-4 mt offset-md-n1 " >
        <div class="card shadow-sm rounded-3 vh-50"  style="position: fixed; top: 12%; left: 0; width: 18%;">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0 text-center">Dashboard</h5>
            </div>
            <div class="card-body p-3 bg-light">
                <nav class="sidebar custom-sidebar vh-80 p-2">
                    <form class="mb-3">
                        <input type="search" class="form-control form-control-sm" placeholder="Search...">
                    </form>
                    <ul class="nav flex-column">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="analyzepairDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-cash-coin me-2"></i> Stock Pairs Analysis
                            </a>
                            <ul class="dropdown-menu" id="analyzepairMenu" aria-labelledby="analyzepairDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('pairanalyze.analyze_pair_page') }}">Correlation Analysis Method</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('minimumdistance.minimumdistance_stockpair_page') }}">Minimum Distance Method</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="explorestrategiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-cash-coin me-2"></i> Explore Strategies
                            </a>
                            <ul class="dropdown-menu" id="explorestrategiesMenu" aria-labelledby="explorestrategiesDropdown">
                                <li><a class="dropdown-item" href="/minimumdistancemethod_page">Minimum Distance Strategy</a></li>
                                <li><a class="dropdown-item" href="/grid_strategy">Grid Strategy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="backteststrategiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-cash-coin me-2"></i> Backtest Strategies
                            </a>
                            <ul class="dropdown-menu" id="backteststrategiesMenu" aria-labelledby="backteststrategiesDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('strategy.strategy1') }}">Minimum Distance Strategy</a></li>
                                <li><a class="dropdown-item" href="#">Grid Strategy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ url_for('pair.stock_pairs') }}">
                                <i class="bi bi-cash-coin me-2"></i> Pairs Trading
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="bi bi-cash-coin me-2"></i> Risk Management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="bi bi-cash-coin me-2"></i> Account Settles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="bi bi-cash-coin me-2"></i> Order Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="bi bi-cash-coin me-2"></i> Notifications
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="card-footer bg-secondary text-white text-center">
                <strong>
                    <a class="nav-link text-dark" href="{{ url_for('auth.logout') }}">
                        <i class="bi bi-box-arrow-left me-2"></i> Logout
                    </a>
                </strong>

            </div>
        </div>
    </div>

    <main class="p-4 flex-grow-1 bg-light">
        <body>
<!--            <h4>Minimum Distance Method</h4>-->
            <h2 align="center" style="color: #007bff; font-size: 2rem;">Minimum Distance Method </h2>
            <hr>
            <!-- First Row -->
            <div class="d-flex gap-3 flex-wrap">
                <form action="{{ url_for('minimumdistance.minimumdistance_stockpair1') }}" method="POST" id="addForm" class="d-flex flex-wrap gap-3 align-items-center">
                    <div>
                        <label for="stock">Stock Symbol:</label>
                        <input type="text" id="stock" name="stock" required placeholder="more than two stocks">
                    </div>
                    <div>
                        <button type="submit" name="minimum" class="btn btn-outline-primary ms-1">Add</button>
                    </div>
                </form>

                <script>
                    document.getElementById("addForm").addEventListener("submit", async function (event) {
                        event.preventDefault();

                        const form = event.target;
                        const formData = new FormData(form);
                        const response = await fetch(form.action, {
                            method: form.method,
                            body: formData,
                        });

                        if (response.ok) {
                            const data = await response.json();
                            alert(data.message);
                        } else {
                            alert("Error: Failed to add stock.");
                        }
                    });
                </script>

                <form action="{{ url_for('minimumdistance.minimumdistance_stockpair2') }}" method="POST" id="analysisForm" class="d-flex flex-wrap gap-3 align-items-center">
                    <div>
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required>
                    </div>
                    <div>
                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" required>
                    </div>
                    <div>
                        <button type="submit" name="minimum" class="btn btn-outline-primary ms-1">Analyze</button>
                    </div>
                </form>
            </div>
            <hr>
            <!-- Analysis Results -->
            <div class="row g-3 align-items-center">
                <div class="col-md-2"><p><strong>Analysis Results</strong></p></div>
                <div class="col-md-4">
                    <p>Optimal Pairs: <strong id="pairs">{{best_pair}}</strong></p>
                </div>

                <div class="col-md-4">
                    <p>Minimum Distance: <strong id="minimum">{{min_distance}}</strong></p>
                </div>
                <div>{{message}}</div>

            </div>
            <hr>

            <div class="text-center">
                {% if plot_data %}
                    <img src="data:image/png;base64,{{ plot_data }}" class="img-fluid" alt="Spread Chart">
                {% else %}
                    {% if e %}}
                        <p>e</p>
                        {% else %}
                            <p>No chart available.</p>
                    {% endif %}
                {% endif %}
            </div>

        </body>
    </main>


</div>

{% endblock %}
